body{
        min-height: 800px;
        margin: 0px;
        padding: 0px;
        background: #6dbcd4;
        background-image: url("../img/background.jpg"); 
        //background-image: url("images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        font-family: 'Ubuntu', sans-serif;
    }


h1, h2, h3, h4,{
    font-family: 'Ubuntu', sans-serif;
}    

#doctor, #patient{
    background: #ff7c03;
    color: #fff;
    font-size: 18px;
    padding: 11px 40px;
    border-radius: 3px;
    background-clip: padding-box;
    text-align: center;
    text-decoration: none;
    
}

#portal-container {
    background: rgba(8, 8, 175, 0.58);
    height: 400px;
    margin: 60px;
}

#portal-button-container {
    transform: translateY(115px);
}

.title {
    color: #fff;
    font-family: sans-serif, arial;
    font-size: 40px;
}


#doctor-box, #patient-box {
    position: fixed;
    width: 100%;
    top: -116px;
    color: #fff;
    background-image: url("../img/background.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
}

#patient-closing, #doctor-closing {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    float: right;
    transform: translateY(11px);
    padding: 0px 35px;
    font-family: sans-serif, arial;
}

hr {
    bottom: 40px;
    position: relative;
}
 

@media (max-width: 767px){
    a.portal-login{
        display: block;
        width: 50%;
        margin: 6px;
        transform: none;
        
    }


}
